# Name: jcuda_imagej_example
# Author: Marco Hutter
# Version: 0.0.1-SNAPSHOT
# Date: 2018/04/30
# Requires: ImageJ

Plugins>JCuda ImageJ Example, "Run JCuda ImageJ Example Plugin...", JCuda_ImageJ_Example_Plugin("run")
Help>About Plugins, "JCuda ImageJ Example...", JCuda_ImageJ_Example_Plugin("about")
